extends layout

block content
    .div(ng-controller="loginController")
        <my-navbar></my-navbar>
        .container
            h3.h3  Register Page
            h4.h4  Enter your email account and password
            br
            .panel.panel-info
                form(role='form', action="/register",method="post", name="register" onsubmit="return onSubmitCheck()", style='max-width: 500px;')
                    .row
                        .col-xs-2.col-sm-2.col-md-2.col-lg-2
                        .col-xs-8.col-sm-8.col-md-8.col-lg-8
                            .form-group
                                input.form-control(type='email', name="username", placeholder='Enter Email', required ="required" style='margin-top: 5px;margin-bottom: 5px;')
                    .row
                        .col-xs-2.col-sm-2.col-md-2.col-lg-2
                        .col-xs-8.col-sm-8.col-md-8.col-lg-8                  
                            .form-group
                                input.form-control(type='password', name="password", placeholder='Password', required ="required")
                    .row
                        .col-xs-2.col-sm-2.col-md-2.col-lg-2
                        .col-xs-8.col-sm-8.col-md-8.col-lg-8                   
                            button.btn.btn-default(type='submit') Submit            
                            &nbsp;
                            a(href='/')
                                button.btn.btn-primary(type="button") Cancel
                                br
                    .row
                        .col-xs-2.col-sm-2.col-md-2.col-lg-2
                        .col-xs-10.col-sm-10.col-md-10.col-lg-10
                            h4#messages= info

        
