extends layout

block content

    .div(ng-controller="orderDetailsController")
        <load-div></load-div>
        <my-navbar></my-navbar>
        .container-fluid
            #mainPanel.panel-default
                #criteriaPanel.panel.panel-info(class="panelCriteria")
                    #criteriaHeader
                        .div(ng-if="(data.order)")
                            |  &nbsp; Rental Order # {{data.order._id}} &nbsp;
                        .div(ng-if="(!data.order)")
                            |  &nbsp; Vehicles Order for dates  

                        #criteriaLabel.alert-inline.alert-warning(name='criteria')
                            | &nbsp;
                            span(style='margin-left:5px;margin-right:5px;') {{data.searchCriteria}}
                            | &nbsp; 

                form(id='formVclDetails', role='form', name="", style='max-width: 900px;' )

                    .row(ng-repeat="vcl in data.vehicles")
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            panel
                                .panel-default(style='max-height: 150px;')
                                    .row
                                        .col-xs-8.col-sm-8.col-md-8.col-lg-8
                                            <vcl-details></vcl-details>
                                        .col-xs-4.col-sm-4.col-md-4.col-lg-4
                                            <vcl-pics></vcl-pics>
                    h5.h5(style="margin-top: 0px; margin-bottom: 0px;") 
                        |  &nbsp; Additional Options
                   
                        .row(ng-repeat="acc in data.addAccessories")
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                panel
                                    .panel-default
                                        .row
                                            .col-xs-8.col-sm-8.col-md-8.col-lg-8
                                                <vcl-add-ops></vcl-add-ops>
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            panel
                                .panel-default
                                    .panel-body
                                        .row
                                            .col-xs-5.col-sm-7.col-md-7.col-lg-7
                                                .row
                                                    .container-fluid
                                                        textarea#remarks(rows="2", placeholder="Your Remarks",ng-disabled="(data.order) && !laterThanNow(data.order.dateOut)" ng-model="orderRemarks")
                                                            
                                            .col-xs-7.col-sm-5.col-md-5.col-lg-5
                                                .div#orderBtns
                                                    .div(ng-if="(!data.order || laterThanNow(data.order.dateOut))")

                                                        .div(ng-if="(data.order)")
                                                            .button#cancelOrder.btn.btn-warning.btn-sm(class="cancelOrder"  type="button", style="float: right; margin-left: 4px; margin-top: 3px; margin-bottom: 3px;") Cancel
                                                            a(href='/orderUpdate/selected?id=' + "{{data.order._id}}" +'&cancel=0', rel="{{data.order._id}}") 
                                                                .button#Order.btn.btn-success.btn-sm(class="order", type="button", style="float: right; margin-left: 4px; margin-top: 3px; margin-bottom: 3px;") Update
                                                        .div(ng-if="(!data.order)")
                                                            a(href='/vclDetails/selected?veh=' + "{{data.vehicles[0].MAKER}}" +';'+ "{{data.vehicles[0].MODEL}}" +';'+ "{{data.vehicles[0].YEAR}}" +';'+ "{{data.vehicles[0].ENGINE}}" +';'+ "{{data.vehicles[0].GEAR}}" +';'+ "{{data.vehicles[0].FUEL_TYPE}}" +';'+ "{{data.vehicles[0].DOORS}}" +';' +'&vehPrice=' + "{{data.vehicles[0].DAILY_PRICE}}" +'&criteria=' + "{{data.searchCriteria}}" + '&carCategory=' + "{{data.vehicles[0].CAR_CATEGORY}}",class ="linkOrderVcl",rel="{{data.vehicles[0].VEHICLE_NUMBER}}") 
                                                                .button#Order.btn.btn-success.btn-sm(class="order", type="button", style="float: right; margin-left: 10px; margin-top: 3px; margin-bottom: 3px;") Place Order


                                                    .block.label.label-warning(id="totalPrice", class="priceLabel", style="float: right; margin-left: 10px; margin-top: 3px;margin-bottom: 3px;") {{orderTotalSum()}} ₪
                                                    .block.label(style="float: right; margin-top: 8px; margin-bottom: 3px; font-size:14px;") Total 

                #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                  span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title 
                                    .div(ng-if="(data.order)")
                                        |Canceling Order #  {{data.order._id}}
                                    .div(ng-if="(!data.order)")
                                        |Please register or log in first.
                            .modal-body
                                .div(ng-if="(data.order)")
                                    | Are you sure you want to cancel order #  {{data.order._id}} ?
                                .div(ng-if="(!data.order)")
                                    | To make a car reservation you have to be logged in.
                                    | Please register or log in if you already have an account.
                            .modal-footer
                                .div(ng-if="(data.order)")
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                                    a(href='/orderUpdate/selected?id=' + "{{data.order._id}}" +'&cancel=1', rel="{{data.order._id}}") 
                                        button.btn.btn-sm.btn-warning(type='button', id="cancelOk") Cancel Order
                                .div(ng-if="(!data.order)")
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                                    a(href='/login') 
                                        button.btn.btn-sm.btn-primary(type='button') Login
                                    a(href='/register')     
                                        button.btn.btn-sm.btn-primary(type='button') Register
                        

    script(src='http://code.jquery.com/jquery.js')
    script(type='text/javascript' src='/js/vclDetails.js')

    