extends layout

block content
    

    .div(ng-controller="vclListController"  class="ng-cloak")
        <my-navbar></my-navbar>

        .container-fluid
        #mainPanel.panel-default
            #criteriaPanel.panel.panel-info(class="panelCriteria")
                    #criteriaHeader
                        |Vehicles available for 
                        #criteriaLabel.alert-inline.alert-warning(name='criteria')
                            span#criteriaSpan(style='margin-left:5px;margin-right:5px;') {{data.searchCriteria}}

            form(id='formVclList', role='form', action="/vclList/selected",method="post", name="", style='max-width: 900px;')
                
                    .row(ng-repeat="vcl in data.vehicles")
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            panel
                                .panel-default
                                    .row
                                        .col-xs-8.col-sm-8.col-md-8.col-lg-8
                                            panel
                                                .panel-default
                                                    .panel-heading  {{$index+1}}. {{vcl.MAKER}} {{vcl.MODEL}} {{vcl.YEAR}} {{vcl.ENGINE}} {{vcl.ENGINE_TYPE}}
                                                        span.badge {{vcl.CAR_CATEGORY}} 
                                                        span.badge {{vcl.FUEL_TYPE=='G' ? 'GAS' : 'DIESEL'}} 
                                                        span.badge {{vcl.GEAR}}
                                                        span.badge {{vcl.DOORS}} Doors 
                                                    a(href='/vclList/selected?veh='+ "{{vcl.MAKER}}" +';'+ "{{vcl.MODEL}}" +';'+ "{{vcl.YEAR}}" +';'+ "{{vcl.ENGINE}}" +';'+ "{{vcl.GEAR}}" +';'+ "{{vcl.FUEL_TYPE}}" +';'+ "{{vcl.DOORS}}" +';' +'&criteria=' + "{{data.searchCriteria}}" ,class ="linkOrderVcl",rel="{{vcl.VEHICLE_NUMBER}}") 
                                                        button.btn.btn-success.btn-sm(class="order", type="button", style="float: right") Order
                                                    .block.badge(class="priceLabel", style="float: right") {{vcl.DAILY_PRICE}} ₪
                                                
                                                    .panel-body Additional Details: 
                                                        |Air Conditioner- 
                                                        span.badge {{vcl.AIR_COND==1 ? 'Yes' : 'No'}}
                                        .col-xs-2.col-sm-2.col-md-2.col-lg-2
                                            panel
                                                img(ng-src="{{getImg(vcl.PIC_PATH)}}", class="img-rounded", alt="Cinque Terre" width="95" height="63")

        .text-center
            ul.pagination(name='page', id='page')
                li.disabled
                    a(href='#') «
                li.active
                    a(href='#') 1

                li(ng-repeat="pg in data.pages") 
                    a(href='#') {{pg}}
                li(ng-disabled="(data.pages.length==1)")
                        a(href='#') »

    script(src='http://code.jquery.com/jquery.js')
    script(type='text/javascript' src='/js/vclList.js')